html {
    height: 100%;
}

body {
    padding-top: 5rem;
    background-color: #d2d6dc45;
    height: 100%;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    margin: 80px auto 0;
}

.scrum-team-member {
    height: 160px;
    width: 360px;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.member-card-img {
    width: 100%;
    height: 100%;
}


.buttonAddRetrospective{

   float: right;
}


.columnRetrospective {

    box-sizing: border-box;

    float:left;
    width: 45%;
    height: fit-content;
    padding: 10px;
    margin: 5px;

}

#retrospectiveGood{

    background-color: darkseagreen;
    border-color: #868e96;
    border-width: 1px;
}

#retrospectiveImprove {

    background-color: darksalmon;
    border-color: #868e96;
    border-width: 1px;

}

.columnRetrospectiveTitle{

    text-align: center;
    color: #f1f1f1;
}

#columnSprintDashboard1{

    margin:auto;
}

#columnSprintDashboard2{

    margin:auto;
}
@media screen and (max-width: 600px) {
    .columnRetrospective {
        width: 100%;
    }
}




    /* Clear floats after the columns */
    .rowRetrospective :after {
        content: "";
        display: table;
        clear: both;
    }


    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }







.input-group {
    position: relative;
    display: block;
    padding: 10px;
    border: 1px solid #dddddd;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #dddddd;
    color: #2d3748;
    font-weight: bold;

}

.overflow{
    overflow: auto;
}

.cardRetrospective {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#cardProductBacklog{

    column-count: 2;
    column-gap: 30px;
}


.bg-olive {
    background-color: #3d9970;
}

.tracking-in-expand-fwd {
    -webkit-animation: tracking-in-expand-fwd 3s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.5s both;
    animation: tracking-in-expand-fwd 3s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.5s both;
}
.tracking-in-expand-fwd-delayed {
    -webkit-animation: tracking-in-expand-fwd 3s cubic-bezier(0.215, 0.610, 0.355, 1.000) 4s both;
    animation: tracking-in-expand-fwd 3s cubic-bezier(0.215, 0.610, 0.355, 1.000) 4s both;
}

@-webkit-keyframes tracking-in-expand-fwd {
    0% {
        letter-spacing: -0.5em;
        -webkit-transform: translateZ(-700px);
        transform: translateZ(-700px);
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}

@keyframes tracking-in-expand-fwd {
    0% {
        letter-spacing: -0.5em;
        -webkit-transform: translateZ(-700px);
        transform: translateZ(-700px);
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}

