html {
    height: 100%;
}

body {
    padding-top: 5rem;
    background-color: #d2d6dc45;
    height: 100%;
}

header{

    background:

        linear-gradient(#25dbf3,#25dbf3) center right / 30%   70px,
        linear-gradient(#1fa2ff,#1fa2ff) bottom left  / 40%   70px,
        linear-gradient(#5533ff,#5533ff) top left     / 30%   70px,
        linear-gradient(#4553ff,#4553ff) top left     / 60%   70px,
        linear-gradient(#4f40ff,#4f40ff) top left     / 100%  70px,
            /* main background*/
        linear-gradient(150deg, #53f 15%, #05d5ff 70%, #a6ffcb 94%);
    background-repeat:no-repeat;

}

.form-signin {
    width: 100%;
    max-width: 330px;
    margin: 80px auto 0;
}

.scrum-team-member {
    height: 160px;
    width: 360px;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.member-card-img {
    width: 100%;
    height: 100%;
}


.buttonAddRetrospective{

    float: right;
}


.columnRetrospective {

    box-sizing: border-box;

    float:left;
    width: 45%;
    height: fit-content;
    padding: 10px;
    margin: 5px;

}

#retrospectiveGood{

    background-color: darkseagreen;
    border-color: #868e96;
    border-width: 1px;
}

#retrospectiveImprove {

    background-color: darksalmon;
    border-color: #868e96;
    border-width: 1px;

}

.columnRetrospectiveTitle{

    text-align: center;
    color: #f1f1f1;
}

#columnSprintDashboard1{

    margin:auto;
}

#columnSprintDashboard2{

    margin:auto;
}
@media screen and (max-width: 600px) {
    .columnRetrospective {
        width: 100%;
    }
}

/* Clear floats after the columns */
.rowRetrospective :after {
    content: "";
    display: table;
    clear: both;
}


 Clear floats after the columns
.row:after {
    content: "";
    display: table;
    clear: both;
}







.retrospectiveInput-group {
    position: relative;
    display: block;
    padding: 10px;
    border: 1px solid #dddddd;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #dddddd;
    color: #2d3748;
    font-weight: bold;

}

.retrospectiveOverflow{
    overflow: auto;
}

.cardRetrospective {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*scrumboard start*/




.column-scrumBoard {
    border-right: 5px solid;
    border-color: blue;
    margin-left: auto;
    height: 100%;
    width: 100%;
}

.input-groupScrumBoard{
    position: relative;
    display: block;
    padding: 10px;
    border: 1px solid #dddddd;
    border-left: 5px solid #012f99 ;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 5px;
    color: #f1f1f1;
    background:

        linear-gradient(#25dbf3,#25dbf3) center right / 30%   70px,
        linear-gradient(#1fa2ff,#1fa2ff) bottom left  / 40%   70px,
        linear-gradient(#5533ff,#5533ff) top left     / 30%   70px,
        linear-gradient(#4553ff,#4553ff) top left     / 60%   70px,
        linear-gradient(#4f40ff,#4f40ff) top left     / 100%  70px,
            /* main background*/
        linear-gradient(150deg, #53f 15%, #05d5ff 70%, #a6ffcb 94%);
    background-repeat:no-repeat;


}


span.arrow {
    content: "\2193";
    font-weight: bold;
}

.h5ScrumBoard{

    font-weight: bolder;
    opacity: 100%;
}

hr.lineBacklogItem{

    border-top: solid #2d3748;
}



.buttonScrumBoard{
    display: inline-block;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
}

.button-backlogScrumBoard{
    background: #f1f1f1;
    color: #3366aa;
    opacity: 85%;
    font-weight: bold;
    display: inline;
}

.button-backlogScrumBoard:hover{
    opacity: 100%;
}


.button-progressScrumBoard{
    display: inline;
    background: #f1f1f1;
    color: darkgoldenrod;
    opacity: 85%;
    font-weight: bold;
}

.button-progressScrumBoard:hover{
    display: inline;
    background: #f1f1f1;
    color: darkgoldenrod;
    opacity: 100%;
    font-weight: bold;
}

.button-doneScrumBoard{
    display:inline;
    background: #f1f1f1;
    color: #007b03;
    opacity: 85%;
    font-weight: bold;
}

.button-doneScrumBoard:hover{
    display:inline;
    background: #f1f1f1;
    color: #007b03;
    opacity: 100%;
    font-weight: bold;
}

.button-deleteScrumBoard{
    display:inline;
    background: #f1f1f1;
    color: #be0000;
    opacity: 85%;
    font-weight: bold;
}

.button-deleteScrumBoard:hover{
    display:inline;
    background: #f1f1f1;
    color: #be0000;
    opacity: 100%;
    font-weight: bold;
}

.formButtonScrumBoard{
    display:inline;
}

.btnScrumBoard{

    color: #868e96;
    opacity: 75%;
    text-decoration: none;
    font-weight: bold;
}


.btn-linkScrumBoard{

    color: #f1f1f1;
    opacity: 75%;
    text-decoration: none;
    font-weight: bold;
}

.btn-linkScrumBoard:hover {
    color: #f1f1f1;
    opacity: 100%;
    text-decoration: none;
    font-weight: bold;
}

.btnScrumBoard:hover {

    color: #f1f1f1;
    opacity: 100%;
    text-decoration: none;
    font-weight: bold;

}

/*Scrumboard end*/



.bg-olive {
    background-color: #3d9970;
}

.tracking-in-expand-fwd {
    -webkit-animation: tracking-in-expand-fwd 3s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.5s both;
    animation: tracking-in-expand-fwd 3s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.5s both;
}
.tracking-in-expand-fwd-delayed {
    -webkit-animation: tracking-in-expand-fwd 3s cubic-bezier(0.215, 0.610, 0.355, 1.000) 4s both;
    animation: tracking-in-expand-fwd 3s cubic-bezier(0.215, 0.610, 0.355, 1.000) 4s both;
}

@-webkit-keyframes tracking-in-expand-fwd {
    0% {
        letter-spacing: -0.5em;
        -webkit-transform: translateZ(-700px);
        transform: translateZ(-700px);
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}

@keyframes tracking-in-expand-fwd {
    0% {
        letter-spacing: -0.5em;
        -webkit-transform: translateZ(-700px);
        transform: translateZ(-700px);
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}

